/* Color:
  dark, #373b54
  light, #009ddd
*/
body {
	margin: 0;
	background: #f1f1f1;
}
header {
	background: #373b54;
	color: #009ddd;
}
h2 {
	margin: 0 auto;
	padding: 10px;
	font-size: 2rem;
}
main {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 100px;
}

ul {
	list-style-type: none;
}

.task-details {
	background: #fff;
	border-radius: 4px;
	margin: 20px auto;
	padding: 20px;
	position: relative;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.task-details h4 {
	margin: 0 0 10px 0;
	font-size: 1.2em;
	color: #009ddd;
}

.task-details p {
	margin: 0;
	font-size: 0.9em;
	color: #555;
}
.task-details span {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	background: #ff8776;
	padding: 6px;
	border-radius: 50%;
	color: #333;
}

.task-details .reminder-icon {
	position: absolute;
	top: 20px;
	right: 115px;
	cursor: pointer;
	background: #fff380;
	padding: 6px;
	border-radius: 50%;
	color: #333;
}

.task-details .edit-icon {
	position: absolute;
	top: 20px;
	right: 70px;
	cursor: pointer;
	background: #009ddd;
	padding: 6px;
	border-radius: 50%;
	color: #333;
}

/* new task form */
.new-item-form {
	margin-top: 20px;
	padding: 10px;
	margin-right: 30px;
}

label,
input {
	display: block;
}

input[type='text'] {
	padding: 6px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
}

input[type='checkbox'] {
	margin-top: 10px;
	margin-bottom: 20px;
}

button {
	background: #373b54;
	border: 0;
	color: #009ddd;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
}

footer {
	margin-top: 32px;
	max-width: 1400px;
	text-align: center;
}
